header {
    background-color: rgba(102, 102, 102, 0.845);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }

img {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


form {
    margin: 0 auto;
    width: 700px;
}
#left{
    color: pink;
}
#right{
    color: purple;
}
input, label{
    display: block;
    width: 200px;
}
input {
    height: 60px;
    width: 200px;
    color: white;
    background-color: black;
}
input ::placeholder{
    color: white;
}
label{
    text-align: center;
    margin-bottom: 30px;/*this controls how high above the input box the text label is*/
    margin-top: 30px;
}
.textbox{
    float: left;
    margin-left: 100px;/*this controls where in the form it is, the width of the form is the total pixels*/
}
form div button{
    width: 100px;
    clear: both;
    color: purple;
    margin-left: 308px;
    margin-top: 30px;
}

footer {
    background-color: rgba(102, 102, 102, 0.845);
    padding: 10px;
    text-align: center;
    color: white;
  }
  #form-img{
      margin: auto;
  }

  #disclaimer {
      font-size: 10pt;
      font-style: italic;
  }

  #mad-libs-div {
      text-align: center;
      padding: auto;
  }

  #instructions {
    text-align: center;
    padding: 30px;
}

#how-to-play {
    font-size: 14pt;
}
#turn-purple {
    color: purple;
    background-color: blue;
}